{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align: center">
        <h1>Welcome to the GAME</h1>
        <h2>Lets START</h2>
        <button onclick="spin()">Spin</button>
    </div>
    <script>
        function spin(){
            alert("you win!");
        }
    </script>
{% endblock %}